<h1 id="reset_password">Reset Password</h1>

<%= simple_form_for @user, :validate  => true, :url  => password_reset_path(params[:id]) do |f|  %>
<%= f.input :password, :required => false %>
<%= f.input :password_confirmation %>
<div class="actions">
	<%= f.submit "Change Password" %>
</div>
<% end %>
